.stretch-no-scroll {
  width: 100vw;
}

.hide-x-scroll {
  overflow-x: hidden;
}

#explanation {
  text-align: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.highlight {
  background-color: yellow;
}

#mainApp {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 16px;
  padding-left: 30px;
  overflow-x: hidden;
}

.smallPadding {
  padding-top: 8px;
  padding-right: 4px;
  padding-bottom: 8px;
  padding-left: 4px;
}

.smallText {
  font-size: smaller;
}

.inset-children {
  padding-left: 0.5rem;
  box-sizing: border-box;
}

.hidden-item {
  display: none;
}

.text-darkblue {
  color:#2274A5;
}

.bg-darkblue {
  background: #2274A5;
}

.form-label {
  color: #2274A5;
  font-weight: bold;
}

