.App-header {
  text-align: center;
  background-color: #282c34;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#explanation {
  text-align: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}